/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #F0E4DC;
//     &:hover{
//         background-color: #D9D9D9;
//         border-color: #D9D9D9;
//         color: #545454;
//     }
// }

// light grey: #F0E4DC
.bg-primary{
    background-color: #173672 !important
}

.image-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
